<ion-list>
  <ion-radio-group [value]="category" (ionChange)="sendCategoryChange($event)">
    <ion-item>
      <ion-chip color="danger">
        <ion-label>Educacion</ion-label>
      </ion-chip>
      <ion-radio slot="start" value="Educacion" color="danger"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-chip color="warning">
        <ion-label>Hogar</ion-label>
      </ion-chip>
      <ion-radio slot="start" value="Hogar" color="warning"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-chip color="primary">
        <ion-label>Trabajo</ion-label>
      </ion-chip>
      <ion-radio slot="start" value="Trabajo" color="primary"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-chip color="secondary">
        <ion-label>Otros</ion-label>
      </ion-chip>
      <ion-radio slot="start" value="Otros" color="secondary"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
