<ion-header>
  <ion-toolbar>
    <ion-title>Editar Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Titulo</ion-label>
    <ion-input [value]="task.title" (ionChange)="setTitle($event)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Subtitulo</ion-label>
    <ion-input [value]="task.subtitle" (ionChange)="setSubtitle($event)"></ion-input>
  </ion-item>

  <ion-datetime
    [value]="task.deadline"
    [min]="today"
    (ionChange)="setDate($event)"
    presentation="date">
  </ion-datetime>

  <ion-list>
    <ion-radio-group [value]="task.priority" (ionChange)="setPriority($event)">
      <ion-list-header>
        Importancia
      </ion-list-header>

      <ion-item>
        <ion-label>Muy Importante</ion-label>
        <ion-radio slot="start" value="high"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Importante</ion-label>
        <ion-radio slot="start" value="mid"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Poco importante</ion-label>
        <ion-radio slot="start" value="low"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>

  <ion-list >
    <ion-radio-group [value]="task.category" (ionChange)="setCategory($event)">
      <ion-list-header>
        Categoria
      </ion-list-header>

      <ion-item>
        <ion-label>Hogar</ion-label>
        <ion-radio slot="start" value="house"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Trabajo</ion-label>
        <ion-radio slot="start" value="work"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Educacion</ion-label>
        <ion-radio slot="start" value="education"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Otros</ion-label>
        <ion-radio slot="start" value="unknown"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button
    (click)="save()">Guardar</ion-button>
</ion-content>
