<ion-list>
  <ion-radio-group [value]="priority" (ionChange)="sendPriorityChange($event)">
    <ion-item>
      <ion-chip
          color="danger"
        >
        <ion-label>Muy Importante</ion-label>
      </ion-chip>
        <ion-radio
          color="danger"
          slot="start"
          value="Muy Importante"
        ></ion-radio>
    </ion-item>

    <ion-item>
      <ion-chip
          color="warning"
        >
        <ion-label>Importante</ion-label>
      </ion-chip>
        <ion-radio
          color="warning"
          slot="start" value="Importante"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-chip
        color="primary"
        >
        <ion-label>Poco importante</ion-label>
      </ion-chip>
        <ion-radio slot="start" value="Poco Importante"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
