.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 20px;
}

.date-chip{ 
  margin-left: 28px; 
}

.input {
  margin: 20px 27px 20px 27px;
  border-radius: 20px;
}


.pickers {
  margin-top: 20px; 
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left{ 
  margin-left: 28px; 
  background-color: #121212; 
  margin-right: 5px; 
}

.right{ 
  margin-right: 28px; 
}

ion-button{ 
  margin: 28px; 
}
