<div class="container">
  <ion-item class="input">
    <ion-label position="floating">Titulo</ion-label>
    <ion-input [value]="task.title" (ionChange)="setTitle($event)"></ion-input>
  </ion-item>

  <ion-item class="input">
    <ion-label position="floating">Subtitulo</ion-label>
    <ion-input
      [value]="task.subtitle"
      (ionChange)="setSubtitle($event)"
    ></ion-input>
  </ion-item>

  <ion-chip outline color="white" id="datepicker-trigger" class="date-chip">
    <ion-icon name="calendar-number-outline" color="white"></ion-icon>
    <ion-label>{{ task.deadline }}</ion-label>
  </ion-chip>

  <div class="pickers">
    <div class="left">
      <app-priority-picker
        [priority]="task.priority"
        (onPriorityChange)="setPriority($event)"
      ></app-priority-picker>
    </div>

    <div class="right">
      <app-category-picker
        [category]="task.category"
        (onCategoryChange)="setCategory($event)"
      ></app-category-picker>
    </div>
  </div>

  <ion-button (click)="save()" expand="block">Guardar</ion-button>
  <ion-popover trigger="datepicker-trigger" trigger-action="click">
    <ng-template>
      <div class="centered">
        <ion-datetime
          [value]="task.deadline"
          [min]="today"
          (ionChange)="setDate($event)"
          presentation="date"
        >
        </ion-datetime>
      </div>
    </ng-template>
  </ion-popover>
</div>
